/* Dashboard.css */
.dashboard-content {
    margin-top: 80px; /* Deixa um espaço para o Header fixo */
  }
  
  footer {
    margin-top: auto; /* Garante que o footer fique no final */
    background-color: #f4f4f4; /* Cor de fundo do footer */
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
  }