/* Dashboard.css */
.dashboard-content {
  margin-left: 7px;
}
  
  footer {
    margin-top: auto; /* Garante que o footer fique no final */
    background-color: #f4f4f4; /* Cor de fundo do footer */
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
    position: relative;
    bottom: 0;
  }
  main{
    margin-left: 5px;
  }